*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #EDD263;
}
.nav-text{
    font-weight: bold;
    color: grey;
}
.custom-nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
#back-button{
    border: 1px solid #3B2D64;
    margin-right: 20px;
    border-radius: 50%;
}
#back-button:hover{
    border: 2px solid black;
    margin-right: 18px;
}
#logo-text{
    color: #3B2D64;
    font-weight: bolder;
}
.custom-card{
    width: 270px;
    background-color: #F8F7F5;
    border-radius: 6px;
    margin: 10px;
}
#meal-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 50px auto;
}
.meal-items:hover{
    box-shadow: 5px 5px 10px gray;
    cursor: pointer;
}

/*Search-Bar*/
#search-section{
    margin-top: 50px;   
}
#search-bar{
    width: 459px;
    height: 60px;
    border: 0;
    float: left;
    box-sizing: border-box;
    padding: 10px 25px;
    font-size: 16px;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    outline: none;
}
#search-button{
    width: 111px;
    height: 60px;
    border: 0;
    background-color: #3B2D64;
    color: white;
    float: left;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    outline: none;
}
::placeholder{
    color: #989898;
    /*
    font-family: 'Roboto', sans-serif; */
}
.btn-yellow{
    background-color: #e68a00;
    border: 0;
}
.btn-yellow:hover{
    background-color: #c87901;
    border: 0;
}
.margin-left-5{
    margin-left: 5px;
}

/*Meal-Details*/
.custom-img{
    width: 100%;
    height: 300px;
}
.card{
    max-width: 500px;
}
.badge-custom{
    background-color: green;
    border-radius: 5px;
    color: white;
    padding: 0px 5px;
    margin-left: 5px;
}
#meal-details{
    display: none;
}

/*Initial-Section*/
#initial-message{
    display: flex;
    justify-content: center;
    align-items: center;
}
#initial-message>div>img{
    margin-top: 10px;
    width: 60%;
}
#initial-div{
    margin-top: 50px;
    width: 350px;
    height: 350px;
    background-image: url('images/back.png');
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 5px;
}
#initial-div:hover{
    background-image: url('');
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid white;
    border-left: 1px solid white;
    cursor: default;
}
#initial-div>div{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-style-1{
    color: #3B2D64;
    font-weight: bold;
}
.text-style-2{
    color: #36642d;
    font-weight: bold;
}

/*Alert*/
.custom-alert{
    width: 310px;
}
#alert{
    display: none;
}